

header{
    background-color:#FA276;
    width:1100px;
    height:140px;
    margin:0 auto; 
    margin-top:40px;
    border: 4px solid #fA8280;
    opacity:0.6;
    letter-spacing:4px;
/*background-image:url(http://network.station.ez-net.jp/special/git/usage/merge/m1.png)
*/
}

span{
    color:#ffffff;
    opacity:1.0;

}

header h1{
    color:#feeefe;
    font-size:50px;
    padding:0px 30px;
    opacity:0.6;

}

.main{
    
    background-color:#fefeee;
    opacity:0.8;
    border-bottom:40px solid #fefeef;
    
  

}

.main-logo{
    height:60px;
    font-size:40px;
    opacity:0.6;
    width:800px;
    margin:0 auto;
}

.main-input{
    width:800px;
    margin:0 auto;

}

.result{
    background-color:#230034;
    color:#FFEFFE;
    width:999px;
    padding:0px 20px;
    font-size:25px;
    margin:0 auto;
    background-image:url(pou18.jpg);

    background-size:cover;
}

.main-input{
    padding:0 0;

}

.button{
    background-color:#337AB7;
    display:inline-block;
}

button{
    padding: 5px 20px;
    background-color: #337AB7;
    border-color: #2E6DA4;
    border-style: none;
    color:#ffffff
    
}

input{
    width: 400px;
    marjin-left: 222px;
    height:20px;
}

button:active{
    color: #FFFFFF
    transition-delay:  3s;
    box-shadow: 0 2px 5px 0 rgba(0,0, 0, 0.26)
}
